In [1]:
import sys
sys.executable

'C:\\Users\\SEAN\\anaconda3\\envs\\Carbon_Cloud\\python.exe'

In [2]:
# Importing required libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
# Creating a dataframe
transport_df = pd.read_csv("Transportation_Dataset.csv")
transport_df.tail(5)

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4,AS8,Z,12.2,8.7,10.7,26,248

In [4]:
#Renaming column names
transport_df.rename(columns={'Make':'make', 'Model':'model', 'Vehicle Class':'vehicle_class', 'Engine Size(L)':'engine_size', 'Cylinders':'cylinders', 'Transmission':'transmission', 'Fuel Type':'fuel_type','Fuel Consumption City (L/100 km)':'fuel_consumption_city','Fuel Consumption Hwy (L/100 km)':'fuel_consumption_hwy','Fuel Consumption Comb (L/100 km)':'fuel_consumption_comb','Fuel Consumption Comb (mpg)':'fuel_consumption_comb_mpg','CO2 Emissions(g/km)':'co2_emissions'}, inplace=True)

#Information about the Dataframe
transport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7385 entries, 0 to 7384
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   make                       7385 non-null   object
 1   model                      7385 non-null   object
 2   vehicle_class              7385 non-null   object
 3   engine_size                7385 non-null   float64
 4   cylinders                  7385 non-null   int64
 5   transmission               7385 non-null   object
 6   fuel_type                  7385 non-null   object
 7   fuel_consumption_city      7385 non-null   float64
 8   fuel_consumption_hwy       7385 non-null   float64
 9   fuel_consumption_comb      7385 non-null   float64
 10  fuel_consumption_comb_mpg  7385 non-null   int64
 11  co2_emissions              7385 non-null   int64
dtypes: float64(4), int64(3), object(5)
memory usage: 692.5+ KB

In [5]:
# Creating a duplicate of model named as model_grouped to make relevant edits.
transport_df.insert(transport_df.columns.get_loc("model") + 1, "model_grouped", transport_df["model"])

In [6]:
# Automatic Grouping...

In [7]:
# Creating a Dictonary with Key(Make) and Value(Models) pairs


# Create a dictionary with string keys and list values
make_model = {
    "FORD": ['C-MAX', 'E150', 'E350', 'EDGE', 'ESCAPE', 'EXPEDITION', 'EXPLORER', 'F-150', 'FIESTA', 'FLEX', 'FOCUS', 'FUSION', 'MUSTANG', 'TAURUS', 'TRANSIT CONNECT', 'T-150', 'GT', 'ECOSPORT', 'RANGER'],
    "CHEVROLET": ['CAMARO', 'CORVETTE', 'CRUZE', 'EQUINOX', 'EXPRESS', 'IMPALA', 'MALIBU', 'ORLANDO', 'SILVERADO', 'SONIC', 'SPARK', 'SUBURBAN', 'TAHOE', 'TRAVERSE', 'TRAX', 'COLORADO', 'BLAZER'],
    "PORSCHE": ['911 CARRERA', '911 GT3', '911 TURBO', 'BOXSTER', 'CAYENNE', 'CAYMAN', 'PANAMERA', '911 TARGA', 'MACAN', '911 GT2', '911 SPEEDSTER'],
    "TOYOTA" : ['4RUNNER', 'AVALON', 'CAMRY', 'COROLLA', 'FJ CRUISER 4WD', 'HIGHLANDER', 'PRIUS', 'RAV4', 'SEQUOIA', 'SIENNA', 'TACOMA', 'TUNDRA', 'VENZA', 'YARIS', '86', 'C-HR', 'GR SUPRA'],
    "GMC" : ['ACADIA', 'SAVANA', 'SIERRA', 'TERRAIN', 'YUKON', 'CANYON'],
    "NISSAN" : ['370Z', 'ALTIMA', 'ARMADA', 'FRONTIER', 'GT-R', 'JUKE', 'MAXIMA', 'MURANO', 'NV200', 'PATHFINDER', 'QUEST', 'ROGUE', 'SENTRA', 'TITAN', 'VERSA', 'XTERRA', 'MICRA', 'QASHQAI', 'KICKS'],
    "JEEP" : ['CHEROKEE', 'COMPASS', 'PATRIOT', 'WRANGLER', 'RENEGADE', 'GLADIATOR'],
    "DODGE" : ['AVENGER', 'CHALLENGER', 'CHARGER', 'DART', 'DURANGO', 'CARAVAN', 'JOURNEY', 'VIPER'],
    "KIA" : ['CADENZA', 'FORTE', 'OPTIMA', 'RIO', 'RONDO', 'SEDONA', 'SORENTO', 'SOUL', 'SPORTAGE', 'K900', 'NIRO', 'STINGER', 'TELLURIDE'],
    "HONDA" : ['ACCORD', 'CIVIC', 'CROSSTOUR', 'CR-V', 'CR-Z', 'FIT', 'ODYSSEY', 'PILOT', 'RIDGELINE', 'HR-V', 'INSIGHT', 'PASSPORT'],
    "HYUNDAI" : ['ACCENT', 'ELANTRA', 'EQUUS', 'GENESIS', 'SANTA FE', 'SONATA', 'TUCSON', 'VELOSTER', 'IONIQ', 'KONA', 'PALISADE', 'VENUE'],
    "MINI" : ['COOPER'],
    "VOLKSWAGEN" : ['BEETLE', 'CC', 'EOS', 'GOLF', 'JETTA', 'PASSAT', 'ROUTAN', 'TIGUAN', 'TOUAREG', 'ATLAS', 'ARTEON'],
    "MAZDA" : ['CX-5', 'CX-9', 'MAZDA2', 'MAZDA3', 'MAZDA5', 'MAZDA6', 'MX-5', 'CX-3'],
    "CADILLAC" : ['ATS', 'CTS', 'ESCALADE', 'SRX', 'XTS', 'CT6', 'XT5', 'XT4', 'CT4', 'CT5', 'XT6'],
    "SUBARU" : ['BRZ', 'FORESTER', 'IMPREZA', 'LEGACY', 'OUTBACK', 'TRIBECA', 'CROSSTREK', 'WRX', 'ASCENT'],
    "INFINITI" : ['Q50', 'Q60', 'Q70', 'QX50 AWD', 'QX60', 'QX70', 'QX80', 'QX30'],
    "BUICK" : ['ENCLAVE', 'ENCORE', 'LACROSSE', 'REGAL', 'VERANO', 'ENVISION'],
    "RAM" : ['1500', 'CARGO VAN', 'PROMASTER'],
    "LINCOLN" : ['MKS', 'MKT', 'MKX', 'MKZ', 'NAVIGATOR', 'MKC', 'CONTINENTAL', 'NAUTILUS', 'AVIATOR', 'CORSAIR'],
    "MITSUBISHI" : ['LANCER', 'MIRAGE', 'OUTLANDER', 'RVR', 'ECLIPSE'],
    "CHRYSLER" : ['300', '200', 'TOWN & COUNTRY', 'PACIFICA', 'VOYAGER'],
    "LAND ROVER" : ['LR2', 'LR4', 'RANGE ROVER', 'DISCOVERY'],
    "MASERATI" : ['GHIBLI', 'GRANTURISMO', 'QUATTROPORTE', 'LEVANTE'],
    "ROLLS-ROYCE" : ['GHOST', 'PHANTOM', 'WRAITH', 'DAWN', 'CULLINAN'],
    "ASTON MARTIN" : ['DB9', 'RAPIDE', 'VANTAGE', 'VANQUISH', 'DB11', 'DBS'],
    "BENTLEY" : ['CONTINENTAL', 'FLYING SPUR', 'MULSANNE', 'BENTAYGA'],
    "LAMBORGHINI" : ['AVENTADOR', 'GALLARDO', 'HURACAN', 'VENENO', 'URUS'],
    "ALFA ROMEO" : ['4C', 'GIULIA', 'STELVIO'],
    "GENESIS" : ['G80', 'G90', 'G70'],
    "SCION" : ['FR-S', 'iQ', 'tC', 'xB', 'xD', 'iM'],
    "SMART" : ['FORTWO'],
    "BUGATTI" : ['CHIRON'],
    "SRT" : ['VIPER'],
    "VOLVO" : ['S60', 'S80', 'XC60', 'XC70', 'XC90', 'V60', 'S90', 'V90', 'XC40'],
    "LEXUS" : ['CT', 'ES', 'GS', 'GX', 'IS', 'LS', 'LX 570', 'RX', 'NX', 'RC', 'LC', 'UX']
}

for key, value_list in make_model.items():
    for value in value_list:
        # Grouping Process
        transport_df.loc[(transport_df['make'] == key) & 
                         (transport_df['model_grouped'].str.contains(value, case=False)), 'model_grouped'] = value

In [8]:
transport_df.inf(

SyntaxError: unexpected EOF while parsing (352511287.py, line 1)

In [ ]:
# Manual Grouping... (BMW, MERCEDES-BENZ, AUDI, JAGUAR, FIAT, ACURA)

In [ ]:
# Original Models
transport_df[transport_df['make'] == 'ACURA']['model'].unique()

In [ ]:
# Grouping Models one by one and checking
transport_df[transport_df['make'] == 'ACURA']['model_grouped'].unique()

In [ ]:
transport_df[(transport_df['make'] == "ACURA") & 
              transport_df['model_grouped'].str.contains("cargo", case=False)]['model_grouped'].value_counts()

In [ ]:
# transport_df[transport_df['model_grouped'].str.contains("1500", case=False)]['model_grouped'].value_counts()

In [ ]:
transport_df[transport_df['model_grouped'].str.contains("ILX", case=False)]['make'].unique()

In [ ]:
# Grouping Process
transport_df.loc[(transport_df['make'] == "ACURA") & 
                 (transport_df['model_grouped'].str.contains("760Li", case=False)), 'model_grouped'] = 'I series'

In [ ]:
# transport_df['model_grouped'].value_counts()

In [ ]:
# Droping the original model and chnaged the grouped model name to model
transport_df = transport_df.drop(['model'], axis=1)
transport_df.rename(columns={'model_grouped': 'model'}, inplace=True)
transport_df

In [ ]:
transport_df['model'].value_counts()

In [ ]:
# # Writing the Preprocessed transport_df to a CSV file
# transport_df.to_csv('categorical_Model_Grouped_Data.csv', index=False)