In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [18]:
#Read the csv file
live_stock = pd.read_csv("GLEAM_LivestockEmissions.csv")
live_stock

,Region,Animal species,Production system,Commodity,Emission Intensity (kg CO2e per kg protein),Production (kg protein),Total GHG emissions (kg CO2e),Total CO2 emissions (kg CO2e),Total CH4 emissions (kg CO2e),Total N2O emissions (kg CO2e),...,"Feed: fertilizer & crop residues, N2O (kg CO2e)","Feed: applied & deposited manure, N2O (kg CO2e)","LUC: soy & palm, CO2 (kg CO2e)","LUC: pasture expansion, CO2 (kg CO2e)","Enteric fermentation, CH4 (kg CO2e)","Manure management, CH4 (kg CO2e)","Manure management, N2O (kg CO2e)","Direct energy, CO2 (kg CO2e)","Indirect energy, CO2 (kg CO2e)","Postfarm, CO2 (kg CO2e)"
0,Global,Cattle,Aggregated,Aggregated,160.3,2.916310e+10,4.674630e+12,9.449299e+11,2.648727e+12,1.080973e+12,...,1.740732e+11,7.419864e+11,4.687954e+10,3.870062e+11,2.509275e+12,1.394522e+11,1.649130e+11,4.215542e+10,1.585653e+10,9.955932e+10
1,Global,Cattle,Aggregated,Milk,86.7,1.888089e+10,1.637519e+12,2.756914e+11,9.676442e+11,3.941834e+11,...,7.166208e+10,2.543885e+11,1.497421e+10,NaN,8.856352e+11,8.200906e+10,6.813278e+10,2.993485e+10,3.252889e+09,8.929544e+10
2,Global,Cattle,Aggregated,Meat,295.4,1.028222e+10,3.037111e+12,6.692385e+11,1.681083e+12,6.867892e+11,...,1.024111e+11,4.875979e+11,3.190534e+10,3.870062e+11,1.623640e+12,5.744310e+10,9.678019e+10,1.222057e+10,1.260364e+10,1.026388e+10
3,Global,Cattle,Grassland systems,Aggregated,206.3,1.033817e+10,2.133054e+12,5.628062e+11,1.052965e+12,5.172829e+11,...,5.253660e+10,4.267612e+11,8.194330e+09,3.870062e+11,9.969096e+11,5.605552e+10,3.798508e+10,1.417326e+10,4.303272e+09,3.773092e+10
4,Global,Cattle,Grassland systems,Milk,95.0,6.940654e+09,6.592844e+11,9.286140e+10,3.713461e+11,1.950770e+11,...,2.156126e+10,1.587838e+11,2.412100e+09,NaN,3.369018e+11,3.444428e+10,1.473188e+10,1.078605e+10,9.998435e+08,3.462338e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,Western Europe,Chicken,Layers,Aggregated,22.0,6.025046e+08,1.323780e+10,9.323248e+09,3.332783e+08,3.581273e+09,...,1.730664e+09,8.947222e+08,3.772893e+09,NaN,NaN,3.332783e+08,9.558861e+08,5.803359e+08,3.967689e+07,9.548171e+08
579,Western Europe,Chicken,Layers,Eggs,21.9,5.681959e+08,1.243977e+10,8.761355e+09,3.119144e+08,3.366500e+09,...,1.627899e+09,8.506486e+08,3.553528e+09,NaN,NaN,3.119144e+08,8.879524e+08,5.388376e+08,3.661863e+07,8.973380e+08
580,Western Europe,Chicken,Layers,Meat,23.3,3.430870e+07,7.980299e+08,5.618929e+08,2.136393e+07,2.147731e+08,...,1.027658e+08,4.407360e+07,2.193647e+08,NaN,NaN,2.136393e+07,6.793370e+07,4.149825e+07,3.058259e+06,5.747911e+07
581,Western Europe,Chicken,Broilers,Aggregated,31.4,9.068378e+08,2.843091e+10,2.197089e+10,4.295646e+08,6.030449e+09,...,3.519630e+09,1.680583e+09,9.587620e+09,NaN,NaN,4.295646e+08,8.302351e+08,2.679845e+09,4.823241e+08,1.516810e+09
582,Western Europe,Chicken,Broilers,Meat,31.4,9.068378e+08,2.843091e+10,2.197089e+10,4.295646e+08,6.030449e+09,...,3.519630e+09,1.680583e+09,9.587620e+09,NaN,NaN,4.295646e+08,8.302351e+08,2.679845e+09,4.823241e+08,1.516810e+09

In [19]:
#Removing unnecessary columns form dataset
live_stock_subset = live_stock[['Region', 'Animal species', 'Production system', 'Commodity',
       'Emission Intensity (kg CO2e per kg protein)']]

live_stock_subset

,Region,Animal species,Production system,Commodity,Emission Intensity (kg CO2e per kg protein)
0,Global,Cattle,Aggregated,Aggregated,160.3
1,Global,Cattle,Aggregated,Milk,86.7
2,Global,Cattle,Aggregated,Meat,295.4
3,Global,Cattle,Grassland systems,Aggregated,206.3
4,Global,Cattle,Grassland systems,Milk,95.0
...,...,...,...,...,...
578,Western Europe,Chicken,Layers,Aggregated,22.0
579,Western Europe,Chicken,Layers,Eggs,21.9
580,Western Europe,Chicken,Layers,Meat,23.3
581,Western Europe,Chicken,Broilers,Aggregated,31.4
582,Western Europe,Chicken,Broilers,Meat,31.4

In [20]:
#Renaming the columns
df = live_stock_subset.rename(columns={'Region': 'region', 'Animal species': 'animal_type','Production system':'production_sys','Commodity':'commodity','Emission Intensity (kg CO2e per kg protein)':'emission_intensity'}, inplace=False)
df

,region,animal_type,production_sys,commodity,emission_intensity
0,Global,Cattle,Aggregated,Aggregated,160.3
1,Global,Cattle,Aggregated,Milk,86.7
2,Global,Cattle,Aggregated,Meat,295.4
3,Global,Cattle,Grassland systems,Aggregated,206.3
4,Global,Cattle,Grassland systems,Milk,95.0
...,...,...,...,...,...
578,Western Europe,Chicken,Layers,Aggregated,22.0
579,Western Europe,Chicken,Layers,Eggs,21.9
580,Western Europe,Chicken,Layers,Meat,23.3
581,Western Europe,Chicken,Broilers,Aggregated,31.4
582,Western Europe,Chicken,Broilers,Meat,31.4

In [21]:
df.describe()

       emission_intensity
count          583.000000
mean           122.485592
std            111.781524
min              0.000000
25%             37.600000
50%             89.500000
75%            177.000000
max            643.800000

In [22]:
#  Encode Categorical Variables
from sklearn.preprocessing import OneHotEncoder

# One-hot encode categorical variables
encoder = OneHotEncoder() #create a object from OneHotEncoder() class
X_encoded = encoder.fit_transform(df[['region', 'animal_type', 'production_sys', 'commodity']])

In [23]:
#Split Data into Train and Test Sets
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_encoded, df['emission_intensity'], test_size=0.2, random_state=42)

In [24]:
import numpy as np
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Define the range of polynomial degrees to try
degrees = range(1, 6)

# Initialize dictionaries to store training and testing errors for each degree
train_err = {}
test_err = {}

# Iterate over each degree
for degree in degrees:
    # Create polynomial features
    poly_features = PolynomialFeatures(degree=degree)
    X_train_poly = poly_features.fit_transform(X_train)
    X_test_poly = poly_features.transform(X_test)
    
    # Train polynomial regression model
    model = LinearRegression()
    model.fit(X_train_poly, y_train)
    
    # Make predictions on the training set
    y_train_pred = model.predict(X_train_poly)
    
    # Calculate training error (Root Mean Squared Error)
    train_err[degree] = np.sqrt(mean_squared_error(y_train, y_train_pred))
    
    # Make predictions on the testing set
    y_test_pred = model.predict(X_test_poly)
    
    # Calculate testing error (Root Mean Squared Error)
    test_err[degree] = np.sqrt(mean_squared_error(y_test, y_test_pred))

# Print training and testing errors for each degree
for degree in degrees:
    print(f'Degree {degree}: Training Error = {train_err[degree]}, Testing Error = {test_err[degree]}')

Degree 1: Training Error = 74.91034325177237, Testing Error = 73.1281439285542
Degree 2: Training Error = 34.20571215878768, Testing Error = 50.11053215557336
Degree 3: Training Error = 6.861745410401474, Testing Error = 54.037994733589464
Degree 4: Training Error = 0.003147906021826506, Testing Error = 42.48834754583897
Degree 5: Training Error = 0.0020031872543487556, Testing Error = 40.5101445233301